<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.firstName }} {{ contact.lastName }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-danger" ng-click="deleteContact(contact.id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>

<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.email">email: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
    <p ng-if="contact.phone">phone : {{ contact.phone }} </p>
    <p ng-if="contact.address"> address: {{ contact.address }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>