<div class="row" ng-hide="contact.id">
    <div class="col-md-6" style="text-align: center;">
      <h2>Create new contact</h2>
    </div>
</div>

<div class="container" style="width:75%">
  <form>
    <p>
      <label>First Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="contact.firstName">
    </p>
    <p>
      <label>Last Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="contact.lastName">
    </p>
    <p>
      <label>Email</label>
      <input id="name" class="form-control" type="email" ng-model="contact.email" >
    </p>
    <p>
      <label>Phone</label>
      <input id="name" class="form-control" type="text" name="phone" ng-model="contact.phone">
    </p>
    <p>
      <label>Address</label>
      <input id="name" class="form-control" type="text" ng-model="contact.address">
    </p>

    <p>
      <button style="margin-top:20px" class="btn btn-success" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </form>
</div>
