<div class = "row" style="margin-left:0px;">
  <div class="col-md-6">
    <h2>
      Contacts
    </h2>
  </div>
</div>
<div class="row" style="margin-left:0px;margin-bottom:5px;">
  <div class="col-md-4" >
    <a style="margin-top:20px" class="btn btn-success" href="#/new/contact">New</a>
  </div>
</div>

<style>
  td,th {
    text-align: center;
  }
</style>

<div class="container">
  <table class="table table-bordered" style="width:75%;">
     <thead>
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
          <td> {{ $index + 1}}</td>
        <td>
          <a ng-href="#/contact/{{contact.id}}">{{ contact.firstName }} </a>
        </td>
        <td>
           <a ng-href="#/contact/{{contact.id}}">{{ contact.lastName }} </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>